
/Programming-Clojure.iml
/build.clj
/hello.out
/snippet-db.lck
/snippet-db.log
/snippet-db.properties
/snippet-db.script
/tmp.clj

# Added by Eclipse, should not be checked in
clojure-contrib-src.jar
clojure-contrib.jar
clojure-src.jar
clojure.jar
/target